{% extends "base.html" %}

{% block titulo %} {{ homilia.titulo }} {% endblock %}

{% block contenido %}
	{% load static %}
	<div class="content parallax" id="s1">
		<div class="contenedor">
			<div id="carousel-1" class="carousel slide" data-ride="carousel">
				<!-- Indicadores -->
				<ol class="carousel-indicators" style="z-index: 1;">
					<li data-target="#carousel-1" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-1" data-slide-to="1"></li>
					<li data-target="#carousel-1" data-slide-to="2"></li>
				</ol>

				<!-- Contenedor de los slide -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="{% static 'img/catedral-1.jpg' %}" alt="" class="img-responsive">
						<div class="carousel-caption hidden-xs hidden-sm">
						
						</div>
					</div>
					<div class="item">
						<img src="{% static 'img/fondo2.jpg' %}" alt="" class="img-responsive">
						<div class="carousel-caption hidden-xs hidden-sm">
						
						</div>
					</div>
					<div class="item">
						<img src="{% static 'img/fondo-1.jpg' %}" alt="" class="img-responsive">
						<div class="carousel-caption  hidden-xs hidden-sm">
							
						</div>
					</div>

					<!-- Controles -->
					<a href="#carousel-1" class="left carousel-control" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Anterior</span>
					</a>
					<a href="#carousel-1" class="right carousel-control" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Siguiente</span>
					</a>
				</div>
			</div>
		</div>	
	</div>
	
	<div class="historiatodo">
		
		<div class="container" id="historia1">
			<div class="row publicacion">
				{% for dato in datos %}				
					{% if request.user.is_active %}
						<a href="{% url 'principal:editar_diocesis' dato.id %}" class="btn btn-info" id="bp">Editar <span class="glyphicon glyphicon-pencil"></a><br><br>
					{% endif %}
					<div class="col-md-5 col-sm-5 col-xs-12">
						<img src="{{ dato.imagen.url }}" alt="" width="100%">
					</div>
					<div class="col-md-7 col-sm-7 col-xs-12">
						<h1 style="text-align: center">{{dato.nombre}}</h1>
						<p style="text-align: center">
							{{ dato.direccion }}
							<br>
							{{ dato.email }}
						</p>
						<div class="row">
							<div class="col-md-6 col-xs-6">
								<h3 style="text-align: center"><strong>Parroquias</strong></h3>
								<ul>
									{% for parroquia in dato.parroquia.all %}
										<li>{{ parroquia }}</li>
									{% endfor %}
								</ul>
							</div>
							<div class="col-md-6 col-xs-6">
								<h3 style="text-align: center"><strong>Pastorales</strong></h3>
								<ul>
									{% for pastoral in dato.pastoral.all %}
										<li>{{ pastoral }}</li>
									{% endfor %}
								</ul>	
							</div>						
						</div>
					</div>		
				{% endfor %}
			</div>
			<div class="content">
				<div class="row publicacion">
					{% for h in datos %}
						<div class="col-md-12">
							<h2 style="text-align: center">Historia</h2>
							<p id="ptext">
								{{ h.historia|linebreaks }}
							</p>
						</div>
						<br><br>	
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{# Modal de editar diocesis #}
<div class="modal fade" id="editarDiocesis" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">
	     	<div class="modal-header">
	        	<h5 class="modal-title" id="exampleModalLabel">Editar Diocesis</h5>
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	         		<span aria-hidden="true">&times;</span>
	       		</button>
		        <form action="{% url 'principal:editar_guardar_diocesis' %}" method="post" enctype="multipart/form-data">
		        	{% csrf_token %}
		        	<div class="panel-body">
		        		<input type="hidden" value="{{ pk }}" name="id">
			        	{{ formDiocesis.as_p}}
			        </div>
			        <div class="panel-footer">
			        	<input type="submit" class="btn btn-success" value="Guardar">
			        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			        </div>
		        </form>
	    	</div>
	    </div>
	</div>
</div>
{% endblock %}
{% block script %}
<script>
	$(function(){
		{% if abrir %}
			$('#editarDiocesis').modal('show')
		{% endif %}
		
	})
</script>
{% endblock %}