{% extends "base.html" %}

{% block titulo %} Galer&iacute;a{% endblock %}

{% block contenido %}
	{% load static %}
	<div class="content parallax" id="s1">
		<div class="contenedor">
			<div id="carousel-1" class="carousel slide" data-ride="carousel">
				<!-- Indicadores -->
				<ol class="carousel-indicators" style="z-index: 1;">
					<li data-target="#carousel-1" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-1" data-slide-to="1"></li>
					<li data-target="#carousel-1" data-slide-to="2"></li>
				</ol>

				<!-- Contenedor de los slide -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="{% static 'img/catedral-1.jpg' %}" alt="" class="img-responsive">
						<div class="carousel-caption hidden-xs hidden-sm">
					
						</div>
					</div>
					
					<div class="item">
						<img src="{% static 'img/fondo2.jpg' %}" alt="" class="img-responsive">
						<div class="carousel-caption hidden-xs hidden-sm">
							
						</div>
					</div>
					<div class="item">
						<img src="{% static 'img/fondo-1.jpg' %}" alt="" class="img-responsive">
						<div class="carousel-caption  hidden-xs hidden-sm">
						
						</div>
					</div>

					<!-- Controles -->
					<a href="#carousel-1" class="left carousel-control" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Anterior</span>
					</a>
					<a href="#carousel-1" class="right carousel-control" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Siguiente</span>
					</a>
				</div>
			</div>
		</div>	
	</div>

	<div class="container">
		<br>
		{% if request.user.is_active %}
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formAlbum">
				Nuevo &aacute;lbum
				<span class="glyphicon glyphicon-plus"></span>
			</button><br><br>
		{% endif %}
		<div class="row">
			{% for album in albums %}
				<div class="col-md-3 col-sm-3 col-xs-3">
					<img src="{% static "img/carpeta.png" %}" alt="" class="img-responsive">
					<h3 style="text-align:center;"><a href="{% url 'principal:detalle_album' album.id %}">{{ album.nombre_album }}</a></h3>
					<br>
				</div>
			{% endfor %}
		</div>
	</div>

	{# esto es de la modal, forulario emergente de los albunes#}
	<div class="modal fade" id="formAlbum" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		    <div class="modal-content">
		     	<div class="modal-header">
		        	<h5 class="modal-title" id="exampleModalLabel">Nuevo &aacute;lbum</h5>
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		         		<span aria-hidden="true">&times;</span>
		       		</button>
			        <form action="{% url 'principal:nuevo_album' %}" method="post" enctype="multipart/form-data">
			        	{% csrf_token %}
			        	<div class="panel-body">
				        	{{ formAlbum.as_p }}
				        </div>
				        <div class="panel-footer">
				        	<input type="submit" class="btn btn-success" value="Guardar">
				        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				        </div>
			        </form>
		    	</div>
		    </div>
		</div>
	</div>
{% endblock %}