{% extends "base.html" %}

{% block titulo %}Obispo - Guy Charbonneau{% endblock  %}


{% block contenido %}
	
	{% load static %}

	<div class="container row" id="sss">
		<div class="col-md-3" id="guyimg">
			<img src="{% static '/img/guy2.png' %}" alt="...">
		</div>
		<div class="bio col-md-8" style="margin-left: 90px;">
			<img src="{% static 'img/nameguy.png' %}" alt="..." style="width: 500px;">
			<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid voluptas obcaecati minus magnam dolorum reiciendis error mollitia numquam, consequuntur maiores nam ad veritatis eum quas repellat delectus maxime fugiat at.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero similique sit autem maxime dolorum facere cum minus necessitatibus ex illo beatae praesentium nisi veniam quam fugiat magnam, laborum architecto. Saepe?....

			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, voluptatem necessitatibus asperiores maxime veritatis natus dolores sapiente. Perspiciatis, pariatur, dolorem dolores odio vel reiciendis asperiores aperiam nulla expedita, voluptate assumenda.

			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem recusandae rerum distinctio quaerat deserunt quibusdam ullam, eum non aliquam quisquam reiciendis sed vero architecto enim atque, nihil fuga provident?
				
			</p>
		</div>
	</div>
	
{% endblock  %}