{% extends "base.html" %}

{% block titulo %}
	Obispo {{empleado.nombre}} {{empleado.apellido}}
{% endblock%}


{% block contenido %}
	<div class="container row" id="sss">
		<div id="add_Obispo">
			<div class="col-md-3" id="guyimg">
				<img src="/media/{{empleado.imagen}}" alt="...">
			</div>
			<div class="bio col-md-8" style="margin-left: 90px;">
				<h1>{{empleado.nombre}} {{empleado.apellido}}</h1>
				<hr>
				<h4>Datos Personales del Sacerdote</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>TELEFONO</th>
							<th>DIRECCION</th>
							<th>CORREO</th>
							<th>FECHA ORDENACION</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{empleado.telefono}}</td>
							<td>{{empleado.direccion}} </td>
							<td>{{empleado.correo}}</td>
							<td>{{empleado.fecha_ord}}</td>
						</tr>
					</tbody>
				</table>
				<h3>Biografia</h3>
				<hr>
				<p>{{empleado.biografia}}</p>
				<h3>Estudios</h3>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>NOMBRE</th>
							<th>LUGAR</th>
							<th>PERIODO</th>
						</tr>
					</thead>
					<tbody>
						{% for e in empleado.estudios.all%}
							<tr>
								<td>{{forloop.counter}}</td>
								<td>{{e.nombre}} </td>
								<td>{{e.lugar}}</td>
								<td>{{e.periodo}}</td>
							</tr>
						{% empty %}
							<div class="alert alert-danger" role="alert">
								<p>
									No hay Estudios
								</p>
							</div>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		
	</div>
	
	
{% endblock %}