{% extends "base.html" %}
{% block titulo %}Administración de Parroquias{% endblock  %}
{% load static %}

{% block contenido %}
	<div class="config1">
		<div class="container">
			<br>	
			<br>
			<br>	
			<br>	
			<br>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formParroquia">Nueva Parroquia <span class="glyphicon glyphicon-plus"></span></button>	
			<h2>Lista de Parroquias</h2>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>NOMBRE</th>
							<th>TELEFONO</th>
							<th>DIRECCIÓN</th>
							<th>ACTIVO</th>
							<th><span class="glyphicon glyphicon-wrench"></span> OPCIÓNES</th>
							<th>PARROCO</th>
						</tr>
					</thead>
					<tbody id="add_parroquia">
						{% for p, a in parroquia  %}
							<tr>
								<td>{{p.nombre}}</td>
								<td>{{p.telefono}}</td>
								<td>{{p.direccion}}</td>
								<td><span id="estado-{{p.id}}">{{p.estado}}</span></td>
								<td>
									<div class="btn-group">
										  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										    <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
										  </button>
										  <ul class="dropdown-menu">
								  	 		<a  style="margin-left:30px; "
								    			class="btn btn-info" href="{% url 'principal:parroquia_admin_editar' p.id %}"><span class="glyphicon glyphicon-refresh"></span> Actualizar</a>
											{% if a == 'si' %}
												<button class="btn btn-danger btn-Aparroquia"
														data-id="{{p.id}}"
														data-url="{% url 'principal:parroquia_admin_desactivar' %}"
														style="margin-left:30px; margin-top:5px">Desactivar</button>
											{% else %}
												<button class="btn btn-success btn-Aparroquia"
													data-id="{{p.id}}"
													data-url="{% url 'principal:parroquia_admin_desactivar' %}"
													style="margin-left:30px; margin-top:5px">Activar</button>
											{% endif %}
										  </ul>
									</div>
								</td>
								<td>{{p.empleado.nombre}} {{p.empleado.apellido}}</td>
							</tr>
						{% empty %}
							<div class="alert alert-danger" role="alert">
								<p>
									No hay Parroquias Disponibles
								</p>
							</div>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- Modal de Nueva Parroquia y actualizar Parroquia -->
	<div class="modal fade" id="formParroquia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		    <div class="modal-content">
		     	<div class="modal-header">
		        	<h5 class="modal-title" id="exampleModalLabel">Datos de las Parroquias</h5>
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		         		<span aria-hidden="true">&times;</span>
		       		</button>
			        <form id="frmParroquia" data-id="{{pk}}" {% if pk %}
			        			action="{% url 'principal:parroquia_admin_editar_guardar' %}"
			        		{% else %}
			        			action="{% url 'principal:parroquia_admin_guardar' %}"
			        		{% endif %}
							method="post">
			        		{% csrf_token %}
				        	<div class="panel-body">
				        		<input name="id" value="{{pk}}" type="hidden">
					        	{{ form.as_p }}
					        </div>
					        <div class="panel-footer">
					        	<input type="submit" class="btn btn-success" value="Guardar">
					        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					        </div>
			        </form>
		    	</div>
		    </div>
		</div>
	</div>
	
{% endblock  %}

{% block script %}
<script>
	$(function(){
		{% if abrir %}
			$('#formParroquia').modal('show')
		{% endif %}
		
	})
</script>
{% endblock %}

