{% extends "base.html" %}
{% block titulo %}Dirección Sacerdotal{% endblock  %}
{% load static %}

{% block contenido %}
	{% load static %}
	<div class="scontenedor">
		<div class="sacerdotestext">
			<img class="slogo" src="{% static 'img/ds1.png' %}" alt="">
			
		</div>


		{# este es el dinamico #}
		<div class="container" id="s1">


			<div class="s1">
				<a href="#">
				<div>
					<img  class="eee" src="{% static 'img/s1.jpg' %}" alt="...">
					<img class="marco" src="{% static 'img/m1.png' %}" alt="...">
				</div>
				<br>
				
					<h4>Joseph Rassinger</h4>
					<p>Parroquia: San José, Nacaome</p>
					<p></p>
				</a>
			</div>

			<div class="s1">
				<a href="#">
				<div>
					<img  class="eee" src="{% static 'img/s2.jpg' %}" alt="...">
					<img class="marco" src="{% static 'img/m1.png' %}" alt="...">
				</div>
				<br>
				
					<h4>Joseph Ratzinger</h4>
					<p>Parroquia: San José, Nacaome</p>
					<p></p>
				</a>
			</div>
			
			
		</div>


	</div>
{% endblock  %}