{% extends "base.html" %}
{% block titulo %}Dirección Sacerdotal{% endblock  %}
{% load static %}

{% block contenido %}
	{% load static %}
	<div class="scontenedor">
		<div class="sacerdotestext">
			<img class="slogo" src="{% static 'img/ds1.png' %}" alt="">
			
		</div>
		<br>
		<div class="container">
			
				<div class="row" >
					{% for p in parroquia  %}
					  <div class="col-sm-6 col-md-4">
					    <div class="thumbnail" id="sacerdote1">
					      <img  class="eee" src="/media/{{p.empleado.imagen}}" alt="...">
					      <div class="caption">
					        <h3 style="color:white;"><strong>Nombre: </strong>{{p.empleado.nombre}} {{p.empleado.apellido}}</h3>
					        <h4 style="color:white;"><strong>Telefono: </strong>{{p.empleado.telefono}}</h4>
					        
					        {% if request.user.is_staff %}
					        	 <p style="color:white;"><a href="{% url 'principal:sacerdote_ver' p.empleado.id %}" 
								   		class="btn btn-warning"  
								   		>Ver Mas <span class="glyphicon glyphicon-eye-open"></span>
									</a>
					        	</p>
					        	<a href="{% url 'principal:parroquia_ver' p.id %}">
					        		 <h3><strong>Parroquia: </strong>{{p.nombre}}</h3>
					        	</a>
					        {% else %}
					        	<h3 style="color:white;"><strong>Parroquia: </strong>{{p.nombre}}</h3>
					        {% endif %}
					        
					      </div>
					    </div>
					  </div>
				  {% empty %}
				</div>
			
				<br>
				<div class="alert alert-danger" role="alert">
					<p>
						No hay Sacerdotes Disponibles.
					</p>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock  %}