{% extends "base.html" %}
{% block titulo %}Usuarios{% endblock  %}
{% load static %}

{% block contenido %}
	<style>
		.helptext{
			display: none;
		}
		ul{
			display: none;
		}

	</style>
	
	<div class="config1">
		<div class="container">
			<br>	
			<br>
			<br>	
			<br>	
			<br>	
			{% if request.user.is_active%}
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formUsuario">Nuevo Usuario <span class="glyphicon glyphicon-plus"></span></button>
			{% endif %}	
					
			<h2>Lista de Usuarios</h2>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th><span class="glyphicon glyphicon-th-list"></span></th>
							<th>USERNAME</th>
							<th>NAME</th>
							<th>SUPER USER</th>
							<th>ACTIVO</th>
							<th><span class="glyphicon glyphicon-calendar"></span> CREACION DE CUENTA</th>
							<th><span class="glyphicon glyphicon-wrench"></span> OPCIÓNES</th>
							<th><span class="glyphicon glyphicon-calendar"></span> ULTIMO LOGUEO</th>
						</tr>
					</thead>
					<tbody id="add_usuario">
						{% for u, a in usuario  %}
							<tr>
								<td>{{forloop.counter}}</td>
								<td>{{u.username}}</td>
								<td>{{u.first_name}} {{u.last_name}}</td>
								<td>{{u.is_superuser}}</td>
								<td><span id="estado-{{u.id}}">{{u.is_active}}</span></td>
								<td>{{u.date_joined}}</td>
								<td>
									<div class="btn-group">
										  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										    <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
										  </button>
										  <ul class="dropdown-menu">
										   {% if a == 'staff' %}
											{% else %} 
								  	 		<a  style="margin-left:30px; "
								    			class="btn btn-info" href="{% url 'principal:usuarios_editar' u.id %}"><span class="glyphicon glyphicon-plus-sign"></span> Permisos</a>
								    		{% endif %}
											{% if a == 'staff' %}
											<button 	style="margin-left:30px; " class="btn btn-warning"><span class="glyphicon glyphicon-info-sign"></span> Invalido
											</button>
											{% elif a == 'si' %}
												<button class="btn btn-danger btn-user"
														data-id="{{u.id}}"
														data-url="{% url 'principal:usuarios_desactivar' %}"
														style="margin-left:30px; margin-top:5px">Desactivar</button>
											{% else %}
												<button class="btn btn-success btn-user"
													data-id="{{u.id}}"
													data-url="{% url 'principal:usuarios_desactivar' %}"
													style="margin-left:30px; margin-top:5px">Activar</button>
											{% endif %}
										  </ul>
									</div>
								</td>
								<td>{{u.last_login}}</td>
							</tr>
						{% empty %}
							<div class="alert alert-danger" role="alert">
								<p>
									No hay Usuarios
								</p>
							</div>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- Modal de Nueva Pastoral y actualizar Pastoral -->
	<div class="modal fade" id="formUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		    <div class="modal-content">
		     	<div class="modal-header">
		        	<h5 class="modal-title" id="exampleModalLabel">Datos del Usuario</h5>
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		         		<span aria-hidden="true">&times;</span>
		       		</button>
			        <form id="frmUsuario" data-id="{{pk}}" {% if pk %}
			        			action="{% url 'principal:usuario_editar_guardar' %}"
			        		{% else %}
			        			action="{% url 'principal:usuarios_guardar' %}"
			        		{% endif %}
							method="post">
			        		{% csrf_token %}
				        	<div class="panel-body">
				        		<input name="id" value="{{pk}}" type="hidden">
					        	{{ form.as_p }}
					        </div>
					        <div class="panel-footer">
					        	<input type="submit" class="btn btn-success" value="Guardar">
					        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					        </div>
			        </form>
		    	</div>
		    </div>
		</div>
	</div>
	
{% endblock  %}

{% block script %}
<script>
	$(function(){
		{% if abrir %}
			$('#formUsuario').modal('show')
		{% endif %}
		
	})
</script>
{% endblock %}

