html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}


body {
      font-family: "Helvetica Neue",sans-serif, Arial;
      font-weight: lighter;
}


.img-responsive {
      width: 100%;
}

header {
      position: fixed;
      top: 0;
      left: 0;
      padding: 0 100px;
      background: rgba(0,0,0,0);
      width: 100%;
      box-sizing: border-box;
      z-index: 3;
      background: rgba(0, 0, 0, 0.50);
}

header .logo{
      height: 50px;
      line-height: 30px;
      width: 200px;
      color: #FFF;
      font-weight: bold;
      float: left;
}

header nav{
      float: right;
}

header nav ul {
      margin: 0;
      padding: 0;
      display: flex;
}

header.black {
      background: rgba(0, 0, 0, 0.50);
}

header nav ul li{
      list-style: none;
      position: relative;
}

header nav ul li.sub-menu:before{
      content: '\f0d7';
      font-family: fontAwesome;
      position: absolute;
      line-height: 50px;
      color: #fff;
      right: 5px;
}

header nav ul li.sub-menu.active:before{
      content: '\f0d8';
}
header nav ul li ul{
      position: absolute;
      left: 0;
      background: #333;
      display: none;
}

header nav ul li.active ul{
      display: block;
}

header nav ul li ul li{
      display: block;
      width: 200px;
}

header nav ul li a{
      height: 50px;
      line-height: 50px;
      padding: 0 20px;
      text-decoration: none;
      color: white;
      display: block;
}

header nav ul li a:hover,
header nav ul li a.active{
      color: #fff;
      background: #2196f3;
}

.menu-toggle{
      color: #FFF;
      float: right;
      line-height: 50px;
      cursor: pointer;
      font-size: 24px;
      display: none;
}

.col-img:hover{
  position: relative;
  transform: scale(1.2);
  transition: 1s ease;
  z-index: 2;
}
@media (max-width: 990px){
      header {
            padding: 0 20px;
      }

      .menu-toggle {
            display: block;
      }

      header nav {
            position: absolute;
            width: 100%;
            height: calc(100vh - 50px);
            background: #333333;
            top: 50px;
            transition: 0.5s;
            left: -100%;
      }

      header nav.active{
            left: 0;
      }

      header nav ul {
            display: block;
            text-align: left;
      }

      header nav ul li a {
            border-bottom: 1px solid rgba(0, 0, 0, .2);
      }

      header nav ul li.active ul{
            position: relative;
            background: #003e6f;
      }

      header nav ul li ul li{
            width: 100%;
      }

}



/*twitter abajo*/
#ms{
      display: block;
      position: relative;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 20px;
      text-align: center;
      text-decoration: none;
      color: #262626;
      margin: 0 10px;
      transition: .5s;

}

#ms span{
      position: absolute;
      transition: transform  .5s;
}

#ms span:nth-child(1),
#ms span:nth-child(3)
{
      width: 100%;
      height: 1px;
      background: #fff;
}

#ms span:nth-child(1){
      top: 0;
      left: 0;
      transform-origin: right;
}

#ms:hover span:nth-child(1){
      transform:  scaleX(0);
      transform-origin: left;
      transition: transform .5s;
}


#ms span:nth-child(3){
      bottom: 0;
      left: 0;
      transform-origin: left;
}

#ms:hover span:nth-child(3){
      transform:  scaleX(0);
      transform-origin: right;
      transition: transform .5s;
}


#ms span:nth-child(2),
#ms span:nth-child(4)
{
      width: 1px;
      height: 100%;
      background: #262626;
}

#ms span:nth-child(2){
      top: 0;
      left: 0;
      transform: scaleY(0);
      transform-origin: bottom;
}

#ms:hover span:nth-child(2){
      transform: scaleY(1);
      transform-origin: top;
      transition: transform .5s;
}

#ms span:nth-child(4){
      top: 0;
      right: 0;
      transform: scaleY(0);
      transform-origin: top;
}

#ms:hover span:nth-child(4){
      transform: scaleY(1);
      transform-origin: bottom;
      transition: transform .5s;
}


.content {
      width: 94%;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

/*Parallax*/
  
#s1{
      margin-top: -1px;
      height: 10px;
      width: 100%;
      
      background-size: cover;
      display: table;
      background-attachment: fixed;
}

#s2{
      width: 100%;
      background: rgb(255,255,255);
      background-attachment: fixed;
      padding: 40px 70px 10px 70px
}

#s2 p{
      width: 100%;
}

#s3{
      height: 480px;
      width: 100%;
      background-image: url(../img/2.jpg);
      background-size: cover;
      display: table;
      background-attachment: fixed;
      padding-bottom: 40px;
}

/* #s2 .pimg{
      margin-right: 20px;  
}
 */

/*Obispo*/
#sss{
      background: url(../img/123.jpg) ;
      padding-top: 130px;
      padding-left: 80px;
      padding-right: 80px;
      margin: 0 auto;
      height: 100%;
      width: 100%;
      text-align: center;
}

.bio{
      background: rgba(224,224,224,0.7);
      border-radius: 20px;
      text-align: justify;
      margin-left: 90px;
      margin-bottom: 20px;
      padding-bottom: 20px;
}

#guyimg img{
      height: 300px;
      border-radius: 70px;
}

/*sacerdotes*/
.scontenedor{
      background: url(../img/fsacerdotes.jpg);
      height:100%;
      margin-top: -15px;

}

#sacerdote1{
  margin-top: 40px;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 30px;
  border-radius: 5px;
  height: 400px;
}

#sacerdote1 img{
  width: 120px;
  height: 120px;
}

.s1{
      display: inline-block;
      color: white;
      text-align: center;
      margin-left: 50px;

}

.sacerdotestext img{
   margin-top: 80px;  
}


.marco{
      height: 200px;
      width: 200px;
      margin-left: -170px;
}

.eee{
      background-size: 100%;
      border-radius: 100%;
      width: 130px;
      height: 130px; 
      margin-left: 30px;
}



.slogo{
      width: 500px;
      margin-top: 90px;
      margin-left: 20px;
}

#us{
      margin-top: 40px;
      color: white;
      background: rgba(0,0,0,0.5);
      padding: 30px;
      border-radius: 5px;
      text-align: center;
}

.usp img{
      width: 150px;
}

#us ul li{
      list-style: none;
}


#us .usp{
      text-align: center;
      margin-left: 65px;
      display: block;
}




#pie{

      background: url(../img/fondofoot.png) no-repeat;
      text-align: center;
      height: 100%;
}



/*publicaciones*/

.pub2
{
      margin-top: 50px;
}
.temap{
      margin-left: 20px;
}
.publicacion p{
      margin-left: 20px;
}


/*responsive index*/
.pimg img
{
      width: 400px;
}


.bp{
      margin-left: 230px;
}

#btnview{
      float: right;
      width: 200px;
}


/*parte 3 en los logos de las rede sociales*/

#relog{
      text-align: center;
      
}


/*modal login*/
.modal-footer{
      background: url(../img/fondofoot.png) no-repeat;
}

.modal-header{
      background: #E8E8E8;
}


/*contactanos form*/

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:focus{
    outline: none;
}

body{
    background: #DBDBDB;
    font-family: 'Open sans';
}

/* FORMULARIO =================================== */

.form_wrap{
    width: 1050px;
    height: 530px;
    margin: 50px auto;
    display: flex;

    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Informacion de Contacto*/

.cantact_info::before{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: #4091EC;
    opacity: 0.9;
}

.cantact_info{
    width: 38%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../fondo.jpg');
    background-size: cover;
    background-position: center center;

}

.info_title,
.info_items{
    position: relative;
    z-index: 2;
    color: #fff;
}

.info_title{
    margin-bottom: 60px;
}

.info_title span{
    font-size: 100px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.info_title h2{
    font-size: 35px;
    text-align: center;
}

.info_items p{
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.info_items p:nth-child(1) span{
    font-size: 30px;
    margin-right: 10px;
}

.info_items p:nth-child(2) span{
    font-size: 50px;
    margin-right: 15px;
    margin-left: 4px;
}


/* Formulario de contacto*/
form.form_contact{
    width: 62%;
    padding: 30px 40px;
}

form.form_contact h2{
      font-size: 25px;
      font-weight: 600;
      color: #303030;
      margin-bottom: 30px;
}

form.form_contact .user_info{
    display: flex;
    flex-direction: column;
}

form.form_contact label{
    font-weight: 600;
}

form.form_contact input,
form.form_contact textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;

    border: none;
    border-bottom: 2px solid #D1D1D1;

    font-family: 'Open sans';
      color: #5A5A5A;
      font-size: 14px;
      font-weight: 400;
}

form.form_contact textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

form.form_contact input[type="button"]{
    width: 180px;
      background: #4091EC;
      padding: 10px;
      border: none;
      border-radius: 25px;

    align-self: flex-end;

    color: #fff;
      font-family: 'Open sans';
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
}

form.form_contact input[type="button"]:hover{
    background: #3371B6;
}

/* Ventana de errores*/
.modal_wrap{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal{
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3{
    text-align: center;
    font-family: 'Ubuntu';
      font-size: 20px;
      font-weight: 400;
}

.mensaje_modal h3:after{
    content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #C5C5C5;
      margin: 10px 0px 15px;
}

.mensaje_modal p{
    font-size: 16px;
    color: #606060;
}

.mensaje_modal p:before{
    content: "\f00d";
    font-family: FontAwesome;
    display: inline-block;
    color: #E25151;
    margin-right: 8px;
}

#btnClose{
    display: inline-block;
      padding: 3px 10px;
      margin-top: 10px;

      background: #E25151;
      color: #fff;
      border: 2px solid #B14141;
      cursor: pointer;

      float: right;
}




/*historia de la diocesis*/
#historia1{
  padding-top: 40px;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 30px;
  border-radius: 5px;
}

.historiatodo{
  background: url(../img/diocesis1.jpg);
  padding-top: 40px;
  padding-bottom: 40px;
}



/*configuraciones*/
.config1{
      width: 100%;
      height: 100vh;
      background-image: url(../img/2.jpg);
      background-size: cover;
      display: table;

      background-attachment: fixed;
      padding-bottom: 40px;

}



/*parroquias*/
#parroquia1{
  margin-top: 40px;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 30px;
  border-radius: 5px;
  height: 500px;
  text-align: left;
}

#parroquia1 img{
  width: 120px;
  height: 120px;
  text-align: center;
}

#parroquias{
      background: url(../img/parroquias.png);
      padding-top: 130px;
      margin: 0 auto;
      height: 100%;
      width: 100%;
      text-align: center;
}



#parroimg1 img {
  width: 340px;
  height: 300px;
  border-radius: 10px;
}

/*pastoral*/

#pastoral1{
      background: url(../img/pastoral.png);
      padding-top: 130px;
      margin: 0 auto;
      height: 100%;
      width: 100%;
      text-align: center;
}

.contactoss{
   background: url(../img/contactanosss.jpg);
   height: 100%;
  width: 100%;
  padding-top: 50px
  } 


@media screen and (max-width: 100%){
  .bio{
    margin-left: 90px;
  }
}


@media screen and (max-width: 85em){
      .pimg img{
            width: 350px;
            text-align: center;
      }

      .temap{
            text-align: center;
            margin-left: 10px;
      }
      
      #bp{
            margin-left: 0px;
      }

      #s2{
            text-align: center;
      }

      #ptext{
            text-align: justify;
      }

      #btnview{
            float: right;
      }


}

@media screen and (max-width: 75em){
      .pimg img{
            width: 300px;
            text-align: center;
      }

      .temap{
            text-align: center;
            margin-left: 10px;
      }
      
      #bp{
            margin-left: 0px;
      }

      #s2{
            text-align: center;
      }

      #ptext{
            text-align: justify;
      }

      #btnview{
            float: right;
      }



@media screen and (max-width: 64em){
      .pimg img{
            width: 270px;
            text-align: center;
      }

      .temap{
            text-align: center;
            margin-left: 10px;
      }
      
      #bp{
            margin-left: 0px;
      }

      #s2{
            text-align: center;
      }

      #ptext{
            text-align: justify;
      }

      .scontenedor{
            text-align: center;
      }

      .slogo{
            margin-top: 100px;
            width: 400px;
      }

      #btnview{
            margin-left: 0; 
      }


}



@media screen and (max-width: 48em){
      .pimg img{
            width: 200px;
            text-align: center;
      }

      .temap{
            text-align: center;
            margin-left: 10px;
      }
      
      #bp{
            margin-left: 0px;
      }

      #s2{
            text-align: center;
      }

      #ptext{
            text-align: justify;
      }

      #s2{
            padding: 10px 40px 10px 40px
            
      }

      .scontenedor{
            text-align: center;
      }

      .slogo{
            margin-top: 100px;
            width: 350px;
      }

      #btnview{
            margin-left: 0; 
      }
}


@media screen and (max-width: 35em){
      .pimg img{
            width: 150px;
            text-align: center;
      }

      .temap{
            text-align: center;
            margin-left: 10px;
      }
      
      #bp{
            margin-left: 0px;
      }

      #s2{
            text-align: center;
      }

      #ptext{
            text-align: justify;
      }

      #s2{
            padding: 10px 20px 10px 20px
            
      }

      .scontenedor{
            text-align: center;
      }

      .slogo{
            margin-top: 100px;
            width: 350px;
      }

      #btnview{
            margin-left: 0; 
      }

      #us .usp{
            margin-left: 0
      }

      #us{
            text-align: center;
      }
      
      #sss{
        text-align: center;
      }

      #guyimg img{
        width: 200px;
        height: 200px
      }

      .bio{
        margin-left: -50px;
        width: 300px;
      }

}

